
    <input type="number" [(ngModel)]="a"><br><br><br>

    <input type="number" [(ngModel)]="b"><br><br><br>
    
    
    <input type ="button" (click)="add()" value="ADD">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type ="button" (click)="sub()" value="SUB">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type ="button" (click)="mul()" value="MUL">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type ="button" (click)="div()" value="DIV">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type ="button" (click)="clr()" value="Clear"><br><br><br>

    <input type="number" [(ngModel)]="c">


